*{
    margin:0px;
    padding: 0px;
}
body{
    background-color:#2f1847;
    text-align: center;
}
h1{
    color: white;
    padding-top: 5px;
    font-size: 40px;
    margin-top: 10px;
}
#msg{
    color: white;
    margin: 4px;
    font-size: 30px;
    padding: 5px;
}
.newgame{
    height: 35px;
    width: 110px;
    background-color:#624763;
    font: bolder;
    font-size: 15px;
    color: white;
    border-radius:5%;
}
.container{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 310px;
    width: 310px;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding-bottom: 3px;
    padding-top: 3px;
}

.box{
    height: 30%;
    width: 30%;
    background-color:#f9b3d1 ;
    margin: 0px;
    padding: 0px;
    color: black;
    border: 2px solid black;
    font-size: 48px;
    font-size: bold;
    border-radius: 25%;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
}
.resetbtn{
    height: 35px;
    width: 110px;
    background-color:#624763;
    font: bolder;
    font-size: 15px;
    color: white;
    border-radius:5%;
}


.msg-container{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.hide{
    display: none;
 }